<div id="page_wrapper">
	<p>Essa página está no ar por incríveis 3 dias. Fundada no dia 8/12/2015 revolucionou a internet catastroficamente. Várias pessoas já dizem que esse site irá substituir o Google. Como por exemplo: </p> <br>
	<p>"Esse site tá muito bonito!" - Minha mãe.</p>
	<p>"Eu não lembro a minha senha." - Meu irmão</p>
	<p>"Ô louco, bicho!" - Faustão</p><br>

	<p>Entre muitos outros!</p>
	<br>
	<div id="profile_image">
		<%= image_tag "thumbs.jpg" %>
	</div>
	<p> Felipe Osório de Oliveira</p>
	<p> Guilherme dos Santos Ribeiro Sant'Ana </p>
</div>