<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>
	<div id="content">
		<h1 margin-left="10px">Bem vindo!</h1> 	
		<p><%= current_user.email%></p>
	</div>
</div>