<div id="post_content">
	<h1 class="title">
		<%= @post.title %>
	</h1>

	<p class ="date">
		Submitted <%= time_ago_in_words(@post.created_at) %> Ago

		<% if user_signed_in? %>
		| <%= link_to 'Editar', edit_post_path(@post) %> |
		<%= link_to 'Deletar', post_path(@post), method: :delete, data: { confirm: 'Tem certeza?' } %>
		<% end %>
	</p>

	<p class="body"><%= @post.body %></p>

	<div id="comments">
		<h2><%= @post.comments.count %> Comentários</h2>
		<%= render @post.comments %>

		<h3>Adicionar um comentário:</h3>
		<%= render "comments/form" %>
	</div>
</div>