<!DOCTYPE html>
<html>
<head>
  <title>Feicebuque</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="sidebar">
		<div id="logo">
			<%= link_to root_path do%>
			<% end %>
		</div>

		<ul>
			<li class="category">Website</li>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Sobre", about_path %></li>
			<% if user_signed_in? %>
				<li><%= link_to "Perfil", profile_path %></li>
			<% end %>
		</ul>

		<% if !user_signed_in? %>
			<p class="sign_in"> Admin Login</p>
		<% end %>
	</div>
	<div id="main_content">
		<div id="header">
			<% if current_page?(root_path) %>
				<p> Todos os posts </p>
				<%elsif current_page?(about_path)%>
				<p>Sobre</p>
				<% else %>
				<%= link_to "Todos os posts", root_path %>
				<% end %>

			<div class="buttons">
				<% if user_signed_in? %>
				<button class="button"><%= link_to "Novo Post", new_post_path %></button>
				<button class="button"><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></button>
			
				<% else %>
				<button class="button"><%= link_to "Log In", new_user_session_path %></button>				
			
				<% end %>
			</div>		
		</div>
		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert") %>
		<% end %>

	<%= yield %>

	</div>


</body>
</html>
